<div class="face-snap-card snapped" *ngIf="faceSnap$ | async as faceSnap" [ngClass]="{ snapped: buttonText === 'Oups, unSnap!' }">
    <h2>{{ faceSnap.title | uppercase  }}</h2>
    <a routerLink="/facesnaps">Retour</a>
    <p>Mise en ligne le : {{ faceSnap.createdDate | date: 'EEEE d MMMM  y à HH:MM' }}</p>
    <img [src]="faceSnap.imageUrl" [alt]="">
    <p>{{ faceSnap.description }}</p>
    <p *ngIf="faceSnap.location">Photo prise à {{ faceSnap.location }}</p>

    <p>
        <button (click)="onSnap(faceSnap.id)">{{ buttonText }}</button>
        <span [ngStyle]="{ color: 'rgb(0,' + faceSnap.snaps + ', 0, )' }"> {{ faceSnap.snaps }}</span>
    </p>
</div>